@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
@font-face {
  font-family: "Starjout";
  font-display: swap;
  src: url('./assets/Starjout.eot'); /* IE9 Compat Modes */
  src: local('Starjout'),
       url('./assets/Starjout.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/Starjout.woff') format('woff'), /* Modern Browsers */
       url('./assets/Starjout.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: "Starjedi";
  font-display: swap;
  src: url('./assets/Starjedi.eot'); /* IE9 Compat Modes */
  src: local('Starjedi'),
       url('./assets/Starjedi.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/Starjedi.woff') format('woff'), /* Modern Browsers */
       url('./assets/Starjedi.ttf') format('truetype') /* Safari, Android, iOS */
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}