@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
@font-face {
  font-family: "Starjout";
  font-display: swap;
  src: url('./assets/fonts/Starjout.eot');
  /* IE9 Compat Modes */
  src: local('Starjout'),
    url('./assets/fonts/Starjout.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/Starjout.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/Starjout.ttf') format('truetype')
    /* Safari, Android, iOS */
}

@font-face {
  font-family: "Starjedi";
  font-display: swap;
  src: url('./assets/fonts/Starjedi.eot');
  /* IE9 Compat Modes */
  src: local('Starjedi'),
    url('./assets/fonts/Starjedi.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./assets/fonts/Starjedi.woff') format('woff'),
    /* Modern Browsers */
    url('./assets/fonts/Starjedi.ttf') format('truetype')
    /* Safari, Android, iOS */
}

:root {
  font-family: theme('fontFamily.Cairo');
  font-weight: 600;
  letter-spacing: 0.5px;
  color: theme('colors.mlt-gray-6');
  background-color: theme('colors.mlt-dark-2');
  accent-color: theme('colors.mlt-yellow-primary');
  user-select: none;
  outline: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/**
 * Common Layout
 */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

pre {
  white-space: pre-line;
}

/**
 * Centered Layout
 */

.mlt-flex-centered {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mlt-flex-centered-header {
  /* rgb(255 255 255 / 7%) */
  /* background-color: theme('colors.mlt-dark-3'); */
  box-shadow: 0 8px 8px -3px theme('colors.mlt-dark-2');
  z-index: 10;
  height: max-content;
  height: fit-content;
  height: -moz-fit-content;
}

.mlt-flex-centered-footer {
  /* background-color: theme('colors.mlt-dark-3'); */
  box-shadow: 0 -8px 8px -3px theme('colors.mlt-dark-2');
  z-index: 10;
  height: max-content;
  height: fit-content;
  height: -moz-fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mlt-footer-inner {
  display: inline-flex;
  position: relative;
}

.mlt-flex-centered-content {
  overflow-x: hidden;
  overflow-y: overlay;
  flex: 1;
  height: max-content;
  height: fit-content;
  height: -moz-fit-content;
  transition: height 1.5s ease-in-out;
}

.mlt-flex-centered-content:empty,
.mlt-flex-centered-content-inner:empty {
  height: 0;
  display: none;
}

/**
 * MasterDetail Layout
 */

.mlt-grid-md {
  display: grid;
  grid-template-columns: fit-content(34rem) 1fr;
  grid-template-rows: 1fr fit-content(80px);
  height: 100vh;
  width: 100%;
  /* width: 100vw; /* in some cases causes issues with Safari */
  grid-template-areas:
    "left right"
    "footer footer";
}

.mlt-grid-md-left {
  grid-area: left;
  box-shadow: 8px 0 8px -3px #242424;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  min-width: 380px;
}

.mlt-grid-md-left-content {
  overflow-x: hidden;
  overflow-y: overlay;
  height: -moz-max-content;
  height: max-content;
  height: fit-content;
  height: -moz-fit-content;
  transition: height 1.5s ease-in-out;
  width: 100%;
}

.mlt-grid-md-right {
  grid-area: right;
  position: relative;
  overflow-y: overlay;
  overflow-x: auto;
  background-image: url("./assets/images/star-wars-cover-2.webp");
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  background-size: auto 70%;
  /* width auto, height 70%; or contain */
  min-width: 380px;
  z-index: 0;
}

/**
 * Entry within MasterDetail Layout
 */

.mlt-grid-md-right .entry-container {
  hyphens: auto;
  max-width: 768px;
  min-width: 316px;
  /* follow the container */
  width: -webkit-fill-available;
  width: -moz-available;
}

@media screen and (min-width: 1281px) {
  .mlt-grid-md-right .entry-container {
    min-width: 480px;
  }
}

.entry-container a:hover {
  text-decoration: underline;
}

.mlt-grid-md-footer {
  grid-area: footer;
  box-shadow: 0 -8px 8px -3px theme('colors.mlt-dark-2');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 10;
  height: max-content;
  height: fit-content;
  height: -moz-fit-content;
}

/**
 * Entry within Centered Layout
 */

.mlt-flex-centered-content .entry-wrapper {
  padding: 1.25rem;
}

/**
 * Scrollbar
 */

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  /* background: theme('colors.mlt-dark-2'); */
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: theme('colors.mlt-gray-2');
  border: 5px solid theme('colors.mlt-dark-2');
  border-radius: 12px;
  z-index: 10;
}

*::-webkit-scrollbar-thumb:horizontal:hover,
*::-webkit-scrollbar-thumb:vertical:hover {
  background: theme('colors.mlt-yellow-primary');
}

/** FireFox Scrollbar * html, body {...} **/
* {
  scrollbar-width: auto;
  scrollbar-width: thin;
  scrollbar-color: theme('colors.mlt-yellow-primary') theme('colors.mlt-dark-3');
  /* thumb, track */
}

/**
 * Radio Buttons
 * > https://bryntum.com/blog/3-ways-to-style-radio-buttons-with-modern-css/
 */

input[type="radio"] {
  accent-color: theme('colors.mlt-yellow-primary');
  height: 1.15rem;
  width: 1.2rem;
  outline: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transform: scale(1.2);
  transform-origin: top center;
  z-index: 10;
}

input[type="radio"]:not(:checked) {
  opacity: 20%;
}

/**
 * Caret Color
 * > https://benfrain.com/creating-a-custom-input-cursorcaret/
 */

input {
  caret-color: theme('colors.mlt-yellow-primary');
}

/**
 * Loading animation...
 * add this class to the <body> tag
 */

body.loading {
  position: relative;
}

body.loading::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('./assets/svg/loading.io_asset_635475_slow14_big8_200_30fps_240st.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
}

body.loading.loading-show::before {
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}

#root {
  transition: opacity 0.4s ease-in-out, filter 0.4s ease-in-out;
}

body.loading-show #root {
  opacity: 75%;
  transition: opacity 0.6s ease-in-out, filter 0.6s ease-in-out;
}

/**
 * Search Field and Title
 */

.title-shadow-mlt-dark-0 {
  text-shadow: 0 2px 12px theme('colors.mlt-dark-0');
}

.search-input-field {
  transition: filter 0.5s ease-in-out;
}

.search-input-box:hover .search-input-field {
  --tw-drop-shadow: drop-shadow(0 4px 8px rgba(8, 8, 8, 0.6)) drop-shadow(0 2px 4px rgba(8, 8, 8, 0.6));
  /* --tw-drop-shadow: drop-shadow(0 4px 8px red) drop-shadow(0 2px 4px rgba(8, 8, 8, 0.6)); */
  transition: filter 0.3s ease-in-out;
}

/**
 * Categories within the search results
 */

.category {
  background-color: theme('colors.mlt-dark-2');
  transition: filter 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.category:hover {
  filter: drop-shadow(0 4px 6px theme('colors.mlt-dark-0')) drop-shadow(0 2px 4px theme('colors.mlt-dark-0'));
  transition: filter 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.category + .category {
  margin-top: 2rem;
}

/**
 * Search Results Category Entry
 *
 * I want to emphasize the property: "scroll-margin-top"
 * Refs:
 * > https://stackoverflow.com/a/67923821/6543935,
 * > see also the beginning of the layouts/.*
 */

.category-entry {
  scroll-margin-top: 1rem;
  transition: filter 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.category-entry:hover {
  transition: filter 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/**
 * Wookieepedia integration
 */
.entry-image-container {
  /* box-shadow: inset 0px 0px 6px 4px rgb(36 36 36); */
  opacity: 0.85;
  transition: filter 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.entry-image-container:hover {
  filter: drop-shadow(0 4px 6px theme('colors.mlt-dark-0')) drop-shadow(0 2px 4px theme('colors.mlt-dark-0'));
  transition: filter 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.entry-image-container img {
  filter: grayscale(45%) brightness(0.95);
  transition: filter 0.5s ease-in-out;
}

.entry-image-container:hover img {
  filter: grayscale(0) brightness(1);
  transition: filter 0.3s ease-in-out;
}

/**
 * Footer buttons
 */

.view-source-hint,
.switch-api-hint,
.counter-api-hint {
  float: right;
  position: absolute;
  top: 30%;
  width: max-content;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  z-index: 0;
}

#api-hits-counter {
  z-index: 10;
  width: 3rem;
}

.counter-api-hint {
  top: 0;
  z-index: -1;
  position: absolute;
}

#api-hits-counter:hover .counter-api-hint {
  opacity: 1;
  transform: translateY(1rem);
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.view-source-hint {
  left: 0;
}

.switch-api-hint {
  right: 0;
}

.view-source-button,
.switch-api-button {
  position: relative;
  z-index: 10;
}

.view-source-button:hover + .view-source-hint {
  opacity: 1;
  transform: translate(-100%);
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.switch-api-button:hover + .switch-api-hint {
  opacity: 1;
  transform: translate(100%);
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}
